.col--flex-center {
    display: flex;
    justify-content: center;
    align-items: center;
}

.col--full-height {
    height: 100%;
}

div[class^=ant-col] .textarea {
    width: 90%;
    height: 90%;
}
